<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.automation.listeners.Listeners"/>
    </listeners>
    <test thread-count="5" name="Test">
        <classes>
            <class name="com.automation.practice.jsonserver.GetRequestTest"/>
            <!--			<class name = "com.automation.tests.GetJobDetailsTest"/>-->
            <!--			<class name = "com.automation.tests.PostJobDetailsTest"/>-->
            <!--			<class name = "com.automation.tests.PutRequestToUpdateJobDetailsTest"/>-->
            <!--			<class name = "com.automation.tests.DeleteParticularJobIdTest"/>-->
            <!--			<class name = "com.automation.tests.GetRequestWithQueryParamsTest"/>-->
            <!--			<class name = "com.automation.tests.PatchRequestToUpdateParticularJobIdTest"/>-->
            <!--			<class name = "com.automation.tests.HeadRequestTest"/>-->
            <!--			<class name = "com.automation.tests.GetRequestWithBasicAuthTest"/>-->
            <!--			<class name = "com.automation.practice.auth.DigestAuthTest"/>-->
            <!--			<class name = "com.automation.tests.JsonSchemaValidationTest"/>-->
            <!--			<class name = "com.automation.practice.wiremock.XmlSchemaValidation"/>-->
            <!--			<class name = "com.automation.practice.wiremock.XmlNamespaceValidation"/>-->
            <!--			<class name = "com.automation.practice.wiremock.SpecifyingRequestPort"/>-->
            <!--			<class name = "com.automation.tests.ResponseAwareMatcherTest"/>-->
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->
